<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_Attendance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".csvActivity"
            android:exported="false"/>
        <activity
            android:name=".StudentAttendanceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ViewFullAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".MarkAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSignupActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".CreateSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherLoginActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherSignupActivity"
            android:exported="false" />
        <activity android:name=".PdfViewerActivity" />
        <activity android:name=".studenttimeActivity" />
        <activity android:name=".ExamSchedule" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>